@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 1.5s infinite linear;
  --keyframes-shimmer: {
    "0%": { transform: "translateX(-100%)" };
    "100%": { transform: "translateX(100%)" };
  };
}

body {
  background-color: #09090b;
  color: #fafafa;
}